@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 125 43% 94%;
    --foreground: 125 53% 10%;
    --card: 125 43% 99%;
    --card-foreground: 125 53% 10%;
    --popover: 125 43% 99%;
    --popover-foreground: 125 53% 10%;
    --primary: 173 80% 39%;
    --primary-foreground: 173 80% 95%;
    --secondary: 125 25% 88%;
    --secondary-foreground: 125 53% 23%;
    --muted: 125 25% 88%;
    --muted-foreground: 125 25% 45%;
    --accent: 88 52% 69%;
    --accent-foreground: 125 53% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 125 25% 85%;
    --input: 125 25% 88%;
    --ring: 173 80% 39%;
    --radius: 0.5rem;
    --chart-1: 173 80% 39%;
    --chart-2: 88 52% 69%;
    --chart-3: 173 40% 50%;
    --chart-4: 88 40% 50%;
    --chart-5: 173 30% 30%;
  }

  .dark {
    --background: 125 10% 10%;
    --foreground: 125 10% 95%;
    --card: 125 10% 10%;
    --card-foreground: 125 10% 95%;
    --popover: 125 10% 10%;
    --popover-foreground: 125 10% 95%;
    --primary: 173 80% 95%;
    --primary-foreground: 173 80% 39%;
    --secondary: 125 10% 20%;
    --secondary-foreground: 125 10% 95%;
    --muted: 125 10% 20%;
    --muted-foreground: 125 10% 60%;
    --accent: 88 52% 69%;
    --accent-foreground: 125 53% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 125 10% 20%;
    --input: 125 10% 20%;
    --ring: 88 52% 69%;
    --chart-1: 173 80% 95%;
    --chart-2: 88 52% 69%;
    --chart-3: 173 40% 70%;
    --chart-4: 88 40% 60%;
    --chart-5: 173 30% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
